/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common style and utilitise */
body{
    background-color:  #E5E5E5;
    font-family: 'Poppins', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    background-color:  #FFFFFF;
    width: 870px;
    border-radius: 5px; 
}

hr{
    border: 1px solid #D1D1D1;
    margin: 12px 0 12px 0;

}


/* top player styles header */
.top-players{
    
}

.section-title{
    margin-top: 30px;
    margin-left: 30px;
    color: #562EFF;
    font-size: 24px;


}

.players{
    margin-top: 10px;
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 11px;
}

.player{
    display: flex;
    align-items: center;
}

.player img{
    width: 56px;
    height: 56px;
}

.player .player-name{
    padding: 16px;
    font-size: 18px;
    
}

/* --------------------------
    blog section here 
 -------------------------- */
 .top-blog{
     margin-bottom: 42px;
 }
 
 .blogs{
    margin-top: 10px;
     margin-left: 30px;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-row-gap: 26px;
 }

 .blog{
     display: flex;
 }

 .thumbnail img {
    width: 177px;
    height: 117px;
 }
 .blog .blog-info{
     margin-left: 16px;
 }

 .tilte{
    font-size: 20px;
    margin: 10px 0 3px 0;
 }

 .blog-author{
     color: #9F9F9F;
     margin: 3px 0 3px 0;
 }
 .blog-author a{
     text-decoration: none;
     color: #562EFF;

 }

 /*-------------------------
     Latest course section  
  ---------------------------*/

.courses{
    display: flex;
    justify-content: space-around;
}


.course-banner img{
    width: 224px;
    height: 104px;
}
.course-title{
    font-size: 20px;
    margin: 3px 0 3px 0;
}

.course-author{
    color: #ED6B4F;
    font-size: 15px;
    margin: 4px 0 9px 0;
}

.course-info{
    display: flex;
    justify-content: space-between;
}

.fa-star.filled{
    color: #FFC014;
    
}

.fa-star.empty{
    color: #AEAEAE;
}

.fa-star.filled, .fa-star.empty{
    font-size: 12px;
}

.rating-point, .fa-clock{
    font-size: 14px;
}